h1 {
    background-color: greenyellow;
    color:red;
}
a:link {
    color: red;
}

a:visited {
    color: orange;
    text-decoration: none;
}

a:active {
    color: lime;
    background-color: orange;
}

dt {
    font-size: 1.2rem;
    background-color: grey;
}